<ul class="nav-ul">
  {% if site.show_introduction_nav_link %}
  <li><a href="#">Introduction</a></li>
  {% endif %}
  {% if site.resume_section_education %}
  <li><a href="#education">Education</a></li>
  {% endif %}
  {% if site.resume_section_publication %}
  <li><a href="#publication">Publications</a></li>
  {% endif %}
  {% if site.resume_section_experience %}
  <li><a href="#experience">Experience</a></li>
  {% endif %}
  {% if site.resume_section_projects %}
  <li><a href="#projects">Projects</a></li>
  {% endif %}
  {% if site.resume_section_teaching %}
  <li><a href="#teaching">Teaching Experience</a></li>
  {% endif %}
  {% if site.resume_section_skills %}
  <li><a href="#skills">Skills</a></li>
  {% endif %}
  {% if site.resume_section_recognition %}
  <li><a href="#recognition">Recognition</a></li>
  {% endif %}
  {% if site.resume_section_associations %}
  <li><a href="#associations">Associations</a></li>
  {% endif %}
  {% if site.resume_section_interests %}
  <li><a href="#interests">Interests</a></li>
  {% endif %}
</ul>